* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: General Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
#minicircle {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  z-index: 10;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#minicircle p {
  opacity: 0;
  color: black;
}
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: black;
  z-index: 100;
}
nav a {
  padding: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.other {
  padding: 30px;
}

.heading {
  margin-top: 50px;
  margin-left: 60px;
}
.boundary {
  /* background-color: red; */
  width: fit-content;
  overflow: hidden;
}
.boundary-elem {
  transform: translateY(100%);
}
.heading h1 {
  /* opacity: 0.6; */
  color: aquamarine;
  font-size: 10.42vw;
  line-height: 1;
  font-weight: bolder;
}
.sub-container {
  margin-left: 130px;
  width: fit-content;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.small-heading {
  /* margin-top: 1vw; */
  font-size: 0.9vw;
  text-align: right;
}
.work {
  margin-top: 7vw;
  padding-right: 50px;
}
.work h4 {
  font-weight: 100;
  padding: 4px;
  text-align: right;
  font-size: 1vw;
}
#footer1 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 3%;
  width: 100%;
  padding: 0 3vw;
  align-items: center;
}
#footer1 a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bolder;
}
.iconset i {
  border-radius: 100px;
  padding: 4px;
  background-color: antiquewhite;
  color: black;
}

/* second section  */

#second {
  height: 100vh;
  width: 100%;
  background-color: black;
  padding-top: 80px;
  opacity: 0.6;
}

.element {
  width: 95%;
  margin: auto;
  border-top: 1px solid white;
  padding: 2vw 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
}
.element p {
  opacity: 1;
}
.element h1 {
  font-size: 7.29vw;
}
.element img {
  position: absolute;
  height: 400px;
  /* opacity: 0; */
  visibility: hidden;
  /* display: none; */
  z-index: 20;
  /* transform: rotate(5deg); */
}

.element:hover h1 {
  margin-left: 25px;
  transition: all 0.5s ease-in-out;
  color: #292929;
}

/* about section */
#about {
  height: 100vh;
  width: 100%;
  background-color: black;
  padding-top: 90px;
  position: relative;
}
#img {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 90px;
  justify-content: end;
  padding-right: 100px;
  padding-left: 80px;
}
#img img {
  height: 230px;
}
#aboutme {
  font-size: 13px;
  opacity: 0.6;
}
#bhotbdapara {
  font-size: 18px;
  width: 450px;
}
.desc button {
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 7px;
  width: 100px;
  border-color: white;
  font-size: 15px;
  margin-top: 40px;
  transition: 0.45s all ease-in-out;
}

.desc button:hover {
  background-color: aliceblue;
  color: black;
}
.mention {
  margin-top: 200px;
  margin-left: 50px;
}
.mention p {
  opacity: 0.6;
  font-size: 13px;
  /* line-height: 1; */
}
.mention h4 {
  font-weight: bolder;
  z-index: 110;
}
#final1 {
  font-weight: bolder;
  display: flex;
  position: absolute;
  margin-top: 120px;
  bottom: 2px;
  /* background-color: rgb(90, 90, 57); */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
}
.time {
  display: flex;
  column-gap: 30px;
}
.socials {
  display: flex;
  column-gap: 50px;
  font-size: 14px;
}
.socials a {
  text-decoration: none;
  color: white;
  z-index: 110;
}

.mouseenter {
  background-color: red;
  width: fit-content;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
  padding-bottom: 4px;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
